@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto.ttf);
}

html, body {
    width: 200px;
    height: 175px;
    background-color: #0C1016;
}

h1 {
    font-family: roboto, sans-serif;
    text-align: center;
    color: white;
}

img {
    width: auto;
    max-width: 96px;
    height: auto;
    max-height: 96px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}